#atracao {
    display: flex;
    justify-content: center;
}
.atracao-container {
    margin: 0 auto;
}
.atracaoDescricao, .atracao-title-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.atracaoDescricao {
    background-color: hsla(190, 30%, 20%, 0.95);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(20, 20, 150, 0.2);
}
.slideGroup { 
    width: 1000px;
    overflow: hidden;
    border: 3px solid rgba(20, 20, 20, 0.8);
    border-radius: 15px;
    box-shadow: 2px 4px rgba(50, 50, 200, 0.5);
}
.atracaoImage {
    width: 100%;
}

.slide {
    width: 100%;
}
.atracaoImage img {
    width: 100%;
    height: 680px;
}
.slide-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 400%;
}
.slideContent {
    position: relative;
    transition: ease 2s;
}
.slide-foward::after {
    content: url('../imgs/next-button.png');
    position: absolute;
    right: 10px;
    top: 37%;
    cursor: pointer;
}
.slide-backward::after {
    content: url('../imgs/previous.png');
    position: absolute;
    left: 10px;
    top: 37%;
    cursor: pointer;
}
[type="radio"]:checked , [type="radio"]:not(checked) {
    position: absolute;
    left: -9999px;
    z-index: -1000;
    opacity: 0;
}

.slideCon:nth-child(1):checked ~ .slide-control .slideContent { left: 0%;}
.slideCon:nth-child(2):checked ~ .slide-control .slideContent { left: -100%;}
.slideCon:nth-child(3):checked ~ .slide-control .slideContent { left: -200%;}
.slideCon:nth-child(4):checked ~ .slide-control .slideContent { left: -300%;}

@media screen and (max-width: 1030px) {
    #atracao {
        display: block;
    }
    .slideGroup {
        width: 100%;
    }
}
@media screen and (max-width: 510px) {
    .atracaoImage img {
        height: 300px;
    }
}
