<div id="acomodacao" class="acomodacao-container">
    <h2 style="text-align: center;">
        Agora, vamos ver algumas das acomodações disponíveis no <br>
        <span> Queen Mary 2. </span>
    </h2>

    <p style="text-align: center;">
        <strong>O Queen Mary possui 23 opções de acomodações.<br>
            Iremos ver um dos mais simples e um dos mais luxuosos.</strong>
    </p>
    <div class="navegacaoContainer">
        <div class="navegacaoMenu">
            <div class="navegacaoLinks">
                <nav class="navegacao-nav">
                    <div class="navegacaoImage qrt1" qrtControl>
                        <div class="qrt1Title TitleRoom">
                            <p> Quarto simples </p>
                        </div>
                    </div>
                    <div class="navegacaoImage qrt2" qrtControl>
                        <div class="qrt2Title TitleRoom">
                            <p> Quarto Luxuoso </p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="navegacaoConteudo">
                <div class="qrt1conteudo">
                    <div class="qrtContainer">
                        <div class="qrtTitle">
                            <h3 class="titulo-acomodacao" style="text-align: center;">
                                Brittania inside
                            </h3>
                        </div>
                        <div class="qrtDescricao">
                            <p style="text-align: center;">
                                Oferece ótimas acomodações, com muitos itens de conforto a bordo.<br>
                                Quem embarcar em um desses quartos, terá direito a uma garrafa de
                                espumante como boas-vindas, TV via satélite, serviço de quarto gratuito
                                24 horas por dia, um mordomo pessoal e muitos outros itens.<br>
                                É uma ótima opção para quem não disponibiliza de muito dinheiro e ainda
                                sim quer viajar com conforto.<br>
                                Uma viajem de 117 dias ao redor do mundo a bordo deste quarto custa
                                $21.199,00 dólares, algo em torno de R$117 mil (Com os <a
                                    href="#atracao">entreterimentos </a> a bordo já inclusos).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="qrt2conteudo">
                    <div class="qrtContainer">
                        <div class="qrtTitle">
                            <h3 class="titulo-acomodacao" style="text-align: center;">
                                Queen Suíte Grill
                            </h3>
                        </div>
                        <div class="qrtDescricao">
                            <p style="text-align: center;">
                                Oferece confortos dignos de hotel de luxo. Os viajantes que embarcarem
                                nesse quarto terão direito a diversos itens e regalias.<br>
                                É oferecido champanhe na chegada a suíte, além de ter entrega de frutas
                                todos os dias, maquina de café, banheiro com banheira, mesa reservada no
                                restaurante, varanda privativa, embarque e desembarque prioritários e
                                muitos outros itens.<br>
                                Sem duvidas, neste quarto você terá um hotel de luxo flutuante.<br>
                                Para quem deseja passar 117 dias neste quarto viajando ao redor do
                                mundo, terá que desembolsar $ 86,999 dólares, algo em torno de R$ 481
                                mil. (Com os <a href="#atracao">entreterimentos </a> a bordo já
                                inclusos).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/script-pages/acomodacaoNavegacao.js"> </script>