<div class="atracao-container">
    <div class="atracao-title-container">
        <h2 class="atracao-titulo">
            Atrações
        </h2>
        <p>
            <strong>
                O Queen Mary 2 oferece várias atrações, algumas delas são:
            </strong>
        </p>
    </div>
    <div class="slideGroup">
        <button class="previous-slide-icon" disabled>
            <img class="slide-icon-svg" src="../imgs/svg/previous.svg" alt="Ir para o próximo slide"
                title="Anterior" />
        </button>
        <button class="next-slide-icon">
            <img class="slide-icon-svg" src="../imgs/svg/next.svg" alt="Ir para o slide anterior"
                title="Próximo" />
        </button>
        <div class="slide-control">
            <section class="slideContent">
                <div class="planetario slide">
                    <div class="atracaoImage">
                        <img src="../imgs/atracao/planetarium-grande-media.jpg">
                    </div>
                    <div class="atracaoDescricao">
                        <h2> Planetario </h2>
                        <p>
                            Já imaginou estar viajando em dos últimos trânsatlanticos do mundo super luxuoso
                            e
                            ainda por cima ter a chance de visitar um planetario?<br>
                            Com o Queen Mary 2 você tem.<br>
                            Mais do que um planetário, o Illuminations é um luxuoso cinema 3D e um local de
                            música clássica. A cúpula do planetário fazem você mergulhar numa viagem épica
                            pelo
                            sistema solar, ensiná-lo a navegar pelas estrelas ou mostrar outros filmes de
                            ciência e história natural, com até quatro exibições em cada dia de mar.<br>
                            Com a cúpula retraída, o Illuminations exibe filmes 3D e shows e recitais
                            impressionantes.
                        </p>
                    </div>
                </div>
            </section>

            <section class="slideContent">
                <div class="biblioteca slide">
                    <label for="slide3" class="slide-foward"></label>
                    <div class="atracaoImage">
                        <img src="../imgs/atracao/qm2library-grande-media.jpg"
                            alt="Biblioteca a bordo do Queen Mary 2">
                    </div>
                    <div class="atracaoDescricao">
                        <h2> Biblioteca </h2>
                        <p>
                            Para muitos, uma boa leitura é uma parte essencial de umas férias relaxantes, e
                            não
                            há melhor coisa que ler um bom livro.<br>
                            O Queen Mary 2 possui grande variedade de títulos, e com um ambiente super
                            requintado.<br>
                            Então, basta encontrar um bom livro, puxar uma poltrona de couro e desfrutar de
                            uma
                            leitura relaxante enquanto navega..<br>
                            Você pode até querer entrar no Cunard Book Club, onde acontecem discussões
                            literárias com outros viajantes que são conduzidas pelo bibliotecário do navio.
                        </p>
                    </div>
                </div>
            </section>

            <section class="slideContent">
                <div class="musicLive slide">
                    <label for="slide4" class="slide-foward"></label>
                    <div class="atracaoImage">
                        <img src="../imgs/atracao/musiclive.jpg" alt="Banda de música a bordo do Queen Mary 2">
                    </div>
                    <div class="atracaoDescricao">
                        <h2> Música Ao Vivo </h2>
                        <p>
                            A música ao vivo será uma assinatura inconfundível de cada momento em seu
                            navio.<br>
                            Possui talentosos músicos que criarão um ambiente atraente durante momentos
                            relaxantes e em grandes ocasiões sociais.<br>
                            O trio de cordas oferece uma recepção calorosa a bordo e um acompanhamento
                            melódico
                            para o chá da tarde.<br>
                            O pianista residente dá um tom elegante aos drinks do jantar à noite no
                            Commodore
                            Club, e você também encontrará harpistas e bandas contemporâneas em salas
                            públicas e
                            salões em todo o navio.
                        </p>
                    </div>
                </div>
            </section>

            <section class="slideContent">
                <div class="kidsRoom slide">
                    <div class="atracaoImage">
                        <img src="../imgs/atracao/qm2childrenroom.jpg" />
                    </div>
                    <div class="atracaoDescricao">
                        <h2> Sala de Crianças </h2>
                        <p>
                            Crianças de todas as idades são bem-vindas aqui, e os clubes dedicados oferecem
                            atividades e entretenimento.<br>
                            Isso inclui artes e ofícios, atividades esportivas, áreas de lazer, jogos de
                            computador e muito mais.<br>
                            Eles podem fazer amizade com outras crianças na The Play Zone, para crianças de
                            dois
                            a sete anos, e na The Zone, que é ideal para crianças de oito a 17 anos.<br>
                            Uma equipe de jovens supervisionará seus filhos, organizará eventos, atividades
                            e
                            competições, e até mesmo "excursões" ao teatro ou cinema a bordo.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="../scripts/script-pages/atracaoSlide.js"></script>