<div class="topo">
    <div class="container">
        <div class="img-top">
            <a href="index.html">
                <img class="icone-titulo" src="imgs/titulo.jpg" alt="Ícone Queen Mary 2">
            </a>
        </div>

        <nav>
            <a class="link-topo" href="#historia"> Características & História </a>
            <a class="link-topo" href="#acomodacao"> Acomodações </a>
            <a class="link-topo" href="#atracao"> Entreterimento </a>
        </nav>
    </div>
</div>


<div class="titulo-site">
    <div class="titulo-site-descricao">
        <h1> RMS<br>
            Queen Mary 2
        </h1>

        <p>
            Embarque agora para conhecer um pouco das características, história e instalações desse magnífico e
            único trânsatlantico
        </p>
    </div>
</div>