<div class="historia">
    <div class="historia-descricao">
        <h2>
            Antes de tudo, vamos conhecer um pouco das características desse magnífico navio
        </h2>

        <p>
            O <span>RMS
                (<a href="https://pt.wikipedia.org/wiki/Royal_Mail_Ship" title="Royal Mail Ship Wikipedia"
                    target="_blank" class="mailShipWiki">
                    <strong>Royal Main Ship</strong>
                </a>)
                Queen Mary 2</span>, é um navio pertencente a
            <a href="https://www.cunard.com/en-gb" title="Site da Cunard" target="_blank"> Cunard
                Line</a>,
            sendo projetado para ser o maior e mais seguro trânsatlantico já construido, ele também é o
            único trânsatlantico em operação nos dias de hoje.<br>
            É movido por quatro motores a diesel, chegando a uma velocidade máxima de 30 nós (56 km/h),
            sua velocidade normal é de 26 nós (48 km/h), conta ainda com duas turbinas a gás adicionais
            para quando é necessário potência extra, essa configuração de propulsão elétrica integrada é
            usada afim de produzir energia para mover seus quatro pods elétricos de propulsão além de
            dar energia para os serviços de hotel da embarcação. <br> <br>
            Possui 345 metros de comprimento, 72 metros de altura e 41 metros de largura.<br>
            Como o Queen Elizabeth 2, o <span>Queen Mary 2</span> foi construído para atravessar o
            Oceano Atlântico, apesar de também ser usado para cruzeiros; na temporada de inverno o Queen
            Mary 2 viaja de Nova Iorque para o Caribe em viagens de dez a treze dias.<br>
        </p>
    </div>
</div>
</section>

<section>
    <div class="historia">
        <div class="historia-descricao">
            <h2>
                Também um pouco da sua história
            </h2>
            <p>
                A ideia de um novo super trânsatlantico veio de <a href="https://pt.wikipedia.org/wiki/Micky_Arison"
                    title="Micky Arison wikipédia" target="_blank">Micky Arison</a> , o CEO da <a
                    href="https://www.carnivalcorp.com/" title="Site da Carnival Corporation" target="_blank">Carnival
                    Corporation</a>. <br>
                Em dezembro de 1998, a <span>Cunard</span> revelou detalhes do <em>Projeto Queen Mary</em>,
                que auxiliaria o RMS Queen Elizabeth 2 nas viagens. <br>
                Porém, tirar o projeto do papel não foi nada fácil. Suas dimensões e a velocidade que ele
                deveria alcançar não eram nada faceis de conciliar. <br>
                Foi um grande desafio aos engenheiros navais que o projetaram, pois além da missão quase
                impossível, eles ainda lidavam com um prazo super apertado, apenas 2 anos para o concluir,
                pois ele deveria ficar pronto antes do Queen Elizabeth 2 se aposentar e cada dia de atraso
                poderia custar 500 mil dólares de prejuizo ao estaleiro que o fabricava. <br>
                Além de que Arison queria que os passageiros tivessem seus próprios decks, dificultando
                ainda mais o projeto.

                Sua quilha foi construída em Julho de 2002 na França. Aproximadamente 3.000 homens gastaram
                8 milhões de horas de trabalho no navio, e contou também com 20.000 pessoas envolvidas em
                seu design, construção e equipagem. <br>
                Apesar de todas as dificuldades, foi concluido com êxito, sendo lançado ao mar em março de
                2003. Seus testes marítimos foram realizados entre setembro e novembro do mesmo ano. <br>
                Devido ao tamanho do navio, o luxo dos seus materiais, e o fato dele ser um trânsatlantico,
                teve de ser usado 40% a mais de aço do que um navio de cruzeiro comum. <br>
                Seu custo final acabou sendo de aproximadamente $300.000 dólares por cabine, quase o dobro
                do que um navio como Voyager of the Seas, um valor total aproximado de 731 milhões de
                dólares.<br>
                Foi entregue em Southampton no dia 26 de Dezembro de 2003. Foi nomeado Queen Mary 2 pela
                neta de sua homônima, a Rainha Elizabeth II.
            </p>
        </div>
    </div>